<h1>Example App: Create Post</h1>

<form action="/" method="post">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Blog Title</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="title">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Main Text</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="main"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <input type="hidden" name="action" value="create-post">
</form>